@import url(https://fonts.googleapis.com/css?family=Chewy);

@font-face {
  font-family: 'variane';
  src:  url('../fonts/variane.woff2') format('woff2'),
        url('../fonts/variane.woff') format('woff'),
        url('../fonts/variane.svg#variane_scriptregular') format('svg');
}

body, html, main {
  height: 100vh;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 6.5rem;
  text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.75);  
  padding-bottom: 1rem;
}

h3 {
  padding-top: .5rem;
  font-size: 2rem;
  text-shadow: 0 .3rem .75rem rgba(0, 0, 0, 0.5);  
}

h4 {
  padding-top: .5rem;
  font-size: 1.5rem;
  text-shadow: 0 .3rem .75rem rgba(0, 0, 0, 0.5);  
}

lh {
  font-size: 2rem;
}

ul, ol {
  font-size: 1.8rem;
  text-shadow: 0 .3rem .75rem rgba(0, 0, 0, 0.5);  
}

.tahoe {
  font-family: 'variane', sans-serif;
  color: white;
  text-align: center;
}

.chewy {
  font-family: "Chewy", sans-serif;
  color: white;
}

.chewy p {
  padding-top: .25em;
  padding-bottom: .5em;
  font-size: 1.5rem;  
  text-shadow: 0 .3rem .75rem rgba(0, 0, 0, 0.5);
}

.chewy a {
  color: #33ff99;
}

.countdown {
  padding-top: 10px;
  font-size: 2.5rem;
}

.nav {
  z-index: 9999;
  list-style: none;  
    position: fixed;
    top: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  right: 1%;
}

/* start navigation */
.nav a {
  height:4rem;
  width:4rem;  
}

#nav-save-the-date a {
  background: url(../images/nav/nav-save-the-date.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;  
}

#nav-save-the-date a:hover {
  background: url(../images/nav/nav-save-the-date-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;    
}

#nav-travel a {
  background: url(../images/nav/nav-travel.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;  
}

#nav-travel a:hover {
  background: url(../images/nav/nav-travel-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;    
}

#nav-registry a {
  background: url(../images/nav/nav-registry.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;  
}

#nav-registry a:hover {
  background: url(../images/nav/nav-registry-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;    
}

#nav-schedule a {
  background: url(../images/nav/nav-schedule.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;  
}

#nav-schedule a:hover {
  background: url(../images/nav/nav-schedule-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;    
}

#nav-our-story a {
  background: url(../images/nav/nav-our-story.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;  
}

#nav-our-story a:hover {
  background: url(../images/nav/nav-our-story-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;    
}

#nav-wedding-party a {
  background: url(../images/nav/nav-wedding-party.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;  
}

#nav-wedding-party a:hover {
  background: url(../images/nav/nav-wedding-party-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;    
}

#nav-activities a {
  background: url(../images/nav/nav-activities.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;  
}

#nav-activities a:hover {
  background: url(../images/nav/nav-activities-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;    
}

#nav-rsvp a {
  background: url(../images/nav/nav-rsvp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;  
}

#nav-rsvp a:hover {
  background: url(../images/nav/nav-rsvp-hover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;    
}
/* end navigation */

.cd-fixed-bg {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  
  background-repeat: no-repeat;
  background-position: center center;
}

.dim-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.3);
}

.content {
  position: absolute;
  width: 100%;
}

.center {
  text-align: center;
}

.top-center {
  top: 20%;
  text-align: center;  
}

.top-center-content {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 86%;
  height: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bottom-center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bottom-right-content {
  position: absolute;
  left: 50%;
  bottom: 0;  
  right: 7%;
  width: auto;
  height: auto;
}

.bottom-right-content ol {
  padding-bottom: 5%;
}

.bottom-right-content li {
  padding-top: 1.5rem;
}

.bottom-left {
  padding:5px;  
  top:50%;
  left:0;
}

.bottom-right {
  padding:5px;
  top:50%;
  right:0;
}

.foot-center {
  position: absolute;
  bottom: 2%;
  width: auto;
  height: auto;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);  
}

.foot-center:before {
  text-align: center;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
  cursor:pointer;
}

.ss-thumb-container {
  position: relative;
  width: 7%;
  vertical-align: top;
  height: 80vh;
  overflow: scroll;
  display: inline-block;
}

ul.ss-thumb-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 0;
}

ul.ss-thumb-list li {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

ul.ss-thumb-list li img {
  max-width: 100%;
}

span.ss-thumb-text {
  background: rgba(0,0,0,0.5);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0; 
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
}

ul.ss-thumb-list li:hover span.ss-thumb-text {
  opacity: 1;
}

span.ss-thumb-text span {
  position: relative;
  top: 30%;
}

.ss-profile-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);  
}

.ss-pic-container, .ss-text-container {
  vertical-align: top;
  height: 80vh;
  width: 43%;
  display: inline-block;
}

.ss-thumb {
  max-width: 100%;
}

.ss-pic, .ss-text {
  position: relative;
  max-width: 100%;
  padding: 0 2% 0 2%;
}

.ss-pic img {
  max-width: 100%;  
}

.ss-pic-caption {
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 .3rem .75rem rgba(0, 0, 0, 0.75);
}

#save-the-date {
  background-image: url(../images/bg/save_the_date.jpg);
}
#travel {
  background-image: url(../images/bg/northstar_village.jpg);
}
#schedule {
  background-image: url(../images/bg/northstar_village_map.jpg);
}
#our-story {
  background-image: url(../images/bg/space.jpg);
}
#activities {
  background-image: url(../images/bg/lake_tahoe.jpg);
}
#registry {
  background-image: url(../images/bg/wood.jpg);
}
#wedding-party {
  background-image: url(../images/bg/ritz_carlton_woods.jpg);
}
#rsvp {
  background-image: url(../images/bg/rsvp.jpg);
}

#registry-gift-boxes {
  position: absolute;
  left:10%;
  top:40%;
  height:100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/bg/gift_boxes.png);
}

#travel p {
  margin-left: 1em;
}

.wp-portrait {
  height: 2em;
  width: 2.4em;
}

#wp-andrea {
  background-image: url(../images/wp/andrea.jpg);
}
 
.cd-scrolling-bg {
  min-height: 100%;
}